/*-- Base ----------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Georama', sans-serif;
    color: #fff;
    text-align: center;
    letter-spacing: .1rem;
}

header {
    background-color: #222222;
    width: 100%;
    height: 75px;
    padding-top: 15px;
}

main {
    width: 95%;
    margin: 1rem auto;
}

h2 {
    font-size: 2rem;
}

section {
    color: #222;
    background-color: #fff;
}

section p {
    width: 70%;
    margin: 0 auto;
    line-height: 1.5;
    padding-bottom: 1.25rem;
}

footer {
    text-align: center;
    margin: 1rem;
}

.banner {
    width: 100%;
    height: 50px;
    background-image: linear-gradient(90deg, #DB3069, #1EA896);
    box-shadow: 4px 4px 6px#222;
}

/*-- Form ----------------*/

form,
.contact-info,
.newsletter {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem auto 1rem 0;
}

header,
section,
fieldset,
legend {
    margin-bottom: 2rem;
}

legend {
    color: #DB3069;
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px #222222;
    background: #DDE0E3;
    box-shadow: 4px 4px 4px #222222;
    border-radius: 10px;
    padding: .5rem;
}

section h2, 
label {
    margin: 1rem 0;
}

input:focus {
    outline: none !important;
    background-color: #8447FF !important;
    color: #fff;
    box-shadow: 0 0 10px 5px #222;
}

input[type="submit"] {
    width: 100%;
}

.contact-info,
.newsletter {
    text-align: left;
    background: rgba(34, 34, 34, .9);
    padding: 1rem;
    color: #fff;
}

fieldset,
.contact-info input, 
select, 
textarea {
    border: none;
    border-radius: 5px;
}

fieldset p,
.newsletter label {
    font-weight: bold;
}

.contact-info input, 
select {
    font-size: 1.2rem;
    height: 3rem;
    padding: 1rem;
    background-color: #DDE0E3;
    border-radius: 5px;
}
.contact-info input:last-child {
    width: 50%;
}
select {
    height: 3.5rem;
    cursor: pointer;
}
select:focus {
    background-color:  #8447FF;
    color: #fff;
}

::placeholder {
    text-align: right;
    font-size: initial;
}

.newsletter input {
    margin-right: 10px;
}
#javascript-news, #plain-text {
    margin-bottom: 2rem;
}

textarea {
    background-color: #F4F5F6;
    margin-bottom: 2rem;
    padding: 1rem;
    border: solid 3px #1EA896;
    outline: none;
}
textarea::placeholder {
    text-align: left;
}

textarea:focus {
    border: solid 5px #8447FF;
    box-shadow: 0 0 10px 10px #222222;
}

input[type="submit"] {
    height: 70px;
    margin: 1rem auto;
    background-color: #1EA896;
    font-size: 1.5rem;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition-property: all;
    transition-duration: .3s;
}
input[type="submit"]:hover {
    cursor: pointer;
    background-color: #DB3069;
    box-shadow: 0 0 10px 10px #222;
}

/*--- Media Query-------*/

@media screen and (min-width: 768px) {
    
    body {
        background: url(html-img.png);
    }
    main {
        width: 50%;
    }
    .contact-info {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .contact-info label {
        width: 25%;
        font-weight: bold;
    }
    .contact-info input, select {
        width: 75%;
        margin-bottom: 1rem;
    }
    .contact-info input:last-child {
        width: 18.75%;
    }
}
